.profile{
    position: fixed;
    margin-top: 20px;
    margin-left: 1781px;
}

.profpop{
    position: fixed;
    top: 10%;
    left: 65%;
    width: 30%;
    height: 80%;
    background-color: lightgray;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
