.profile{
    position: fixed;
    margin-top: 18px;
    margin-left: 96%;
}

.profpop{
    position: fixed;
    top: 10%;
    left: 69%;
    width: 30%;
    height: 80%;
    background-color: lightgray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}