.feed{
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    
    width: 65%;
    height: 80%;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    
}

.feed-posts{
    
    padding: 7%;
    background-color: grey;
    height: 60%;
    margin-bottom: 5%;

    border-radius: 20px;
}
